/* Add a box around method names */
.method > dt, .attribute > dt, .function > dt {
  background-color: #D8DEE3;
  padding-left: 8px;
  border-left: 2px solid rgb(0, 91, 129);;
}

/* Make method short descriptions slightly bigger */
.method > dd > p:first-child, .attribute > dd > p:first-child, .function > dd > p:first-child {
  font-size: medium;
}

/* Make the top/bottom bars blue, with white links */
div.related {
  background-color: rgb(0, 91, 129);;
}
div.related a {
  color: #FFFFFF;
}

/* Make tables take up the full width of their container */
dd > table, section > table {
  width: 100%;
}

/* Center main content, and make the max width wider */
div.body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

thead {
  background-color: #D8DEE3;
}

.col1-nowrap > tbody > tr > td:nth-child(1) {
  white-space: nowrap;
}

.col2-nowrap > tbody > tr > td:nth-child(2) {
  white-space: nowrap;
}

.col3-nowrap > tbody > tr > td:nth-child(3) {
  white-space: nowrap;
}

/* Civ 5 color roles */
.civ5-color-clear { background: #000; color: rgba(255, 255, 255, 0.0); }
.civ5-color-alpha-grey { background: #FFF; color: rgba(25, 25, 25, 0.45); }
.civ5-color-white { background: #000; color: rgba(255, 255, 255, 1.0); }
.civ5-color-black { background: #FFF; color: rgba(0, 0, 0, 1.0); }
.civ5-color-dark-grey { background: #FFF; color: rgba(63, 63, 63, 1.0); }
.civ5-color-grey { background: #000; color: rgba(127, 127, 127, 1.0); }
.civ5-color-light-grey { background: #000; color: rgba(191, 191, 191, 1.0); }
.civ5-color-green { background: #000; color: rgba(0, 255, 0, 1.0); }
.civ5-color-blue { background: #000; color: rgba(0, 0, 255, 1.0); }
.civ5-color-xp-blue { background: #000; color: rgba(0, 119, 252, 1.0); }
.civ5-color-cyan { background: #000; color: rgba(0, 255, 255, 1.0); }
.civ5-color-yellow { background: #000; color: rgba(255, 255, 0, 1.0); }
.civ5-color-magenta { background: #000; color: rgba(255, 0, 255, 1.0); }
.civ5-color-yield-food { background: #000; color: rgba(252, 147, 40, 1.0); }
.civ5-color-yield-production { background: #000; color: rgba(112, 142, 188, 1.0); }
.civ5-color-yield-gold { background: #000; color: rgba(255, 239, 20, 1.0); }
.civ5-color-city-blue { background: #000; color: rgba(17, 117, 204, 1.0); }
.civ5-color-city-grey { background: #FFF; color: rgba(89, 63, 63, 1.0); }
.civ5-color-city-brown { background: #000; color: rgba(178, 114, 0, 1.0); }
.civ5-color-city-green { background: #000; color: rgba(45, 135, 107, 1.0); }
.civ5-color-font-red { background: #000; color: rgba(255, 76, 38, 1.0); }
.civ5-color-font-green { background: #000; color: rgba(25, 242, 0, 1.0); }
.civ5-color-research-stored { background: #000; color: rgba(0, 255, 255, 1.0); }
.civ5-color-research-rate { background: #000; color: rgba(0, 255, 255, 0.6); }
.civ5-color-culture-stored { background: #000; color: rgba(153, 0, 255, 1.0); }
.civ5-color-culture-rate { background: #000; color: rgba(153, 0, 255, 0.6); }
.civ5-color-great-people-stored { background: #000; color: rgba(255, 255, 0, 1.0); }
.civ5-color-great-people-rate { background: #000; color: rgba(255, 255, 0, 0.6); }
.civ5-color-negative-rate { background: #000; color: rgba(255, 0, 0, 0.65); }
.civ5-color-empty { background: #FFF; color: rgba(0, 0, 0, 0.4); }
.civ5-color-popup-text { background: #000; color: rgba(255, 255, 255, 1.0); }
.civ5-color-popup-selected { background: #000; color: rgba(255, 255, 0, 0.75); }
.civ5-color-tech-text { background: #000; color: rgba(127, 255, 25, 1.0); }
.civ5-color-unit-text { background: #000; color: rgba(255, 255, 0, 1.0); }
.civ5-color-building-text { background: #000; color: rgba(204, 204, 216, 1.0); }
.civ5-color-project-text { background: #000; color: rgba(204, 204, 216, 1.0); }
.civ5-color-highlight-text { background: #000; color: rgba(102, 229, 255, 1.0); }
.civ5-color-alt-highlight-text { background: #000; color: rgba(127, 255, 25, 1.0); }
.civ5-color-warning-text { background: #000; color: rgba(255, 76, 76, 1.0); }
.civ5-color-positive-text { background: #000; color: rgba(127, 255, 25, 1.0); }
.civ5-color-negative-text { background: #000; color: rgba(255, 76, 76, 1.0); }
.civ5-color-brown-text { background: #FFF; color: rgba(102, 61, 40, 1.0); }
.civ5-color-selected-text { background: #000; color: rgba(255, 209, 124, 1.0); }
.civ5-color-water-text { background: #000; color: rgba(178, 178, 255, 1.0); }
.civ5-color-menu-blue { background: #000; color: rgba(71, 211, 242, 1.0); }
.civ5-color-dawn-of-man-text { background: #FFF; color: rgba(56, 22, 7, 1.0); }
.civ5-color-advisor-highlight-text { background: #000; color: rgba(255, 255, 0, 1.0); }
.civ5-color-tech-green { background: #000; color: rgba(40, 178, 68, 0.5); }
.civ5-color-tech-blue { background: #000; color: rgba(53, 58, 173, 0.5); }
.civ5-color-tech-working { background: #000; color: rgba(53, 58, 173, 0.5); }
.civ5-color-tech-black { background: #FFF; color: rgba(0, 0, 0, 0.5); }
.civ5-color-tech-red { background: #000; color: rgba(255, 0, 0, 0.5); }
.civ5-color-red { background: #000; color: rgba(255, 0, 0, 1.0); }
.civ5-color-player-black { background: #FFF; color: rgba(33, 33, 33, 1.0); }
.civ5-color-player-black-text { background: #000; color: rgba(204, 206, 217, 1.0); }
.civ5-color-player-blue { background: #000; color: rgba(53, 102, 255, 1.0); }
.civ5-color-player-light-blue-text { background: #000; color: rgba(178, 204, 255, 1.0); }
.civ5-color-player-brown { background: #FFF; color: rgba(99, 61, 0, 1.0); }
.civ5-color-player-brown-text { background: #000; color: rgba(229, 165, 76, 1.0); }
.civ5-color-player-cyan { background: #000; color: rgba(17, 204, 244, 1.0); }
.civ5-color-player-cyan-text { background: #000; color: rgba(153, 255, 248, 1.0); }
.civ5-color-player-dark-blue { background: #FFF; color: rgba(40, 0, 163, 1.0); }
.civ5-color-player-dark-blue-text { background: #000; color: rgba(165, 140, 229, 1.0); }
.civ5-color-player-dark-cyan { background: #000; color: rgba(0, 137, 140, 1.0); }
.civ5-color-player-dark-cyan-text { background: #000; color: rgba(0, 211, 200, 1.0); }
.civ5-color-player-dark-green { background: #FFF; color: rgba(0, 99, 0, 1.0); }
.civ5-color-player-dark-dark-green { background: #FFF; color: rgba(0, 68, 0, 1.0); }
.civ5-color-player-dark-green-text { background: #000; color: rgba(143, 204, 143, 1.0); }
.civ5-color-player-dark-pink { background: #000; color: rgba(175, 0, 96, 1.0); }
.civ5-color-player-dark-pink-text { background: #000; color: rgba(255, 0, 255, 1.0); }
.civ5-color-player-dark-purple { background: #FFF; color: rgba(114, 0, 124, 1.0); }
.civ5-color-player-dark-purple-text { background: #000; color: rgba(204, 89, 216, 1.0); }
.civ5-color-player-dark-red { background: #000; color: rgba(158, 0, 0, 1.0); }
.civ5-color-player-dark-red-text { background: #000; color: rgba(255, 56, 56, 1.0); }
.civ5-color-player-dark-yellow { background: #000; color: rgba(247, 191, 0, 1.0); }
.civ5-color-player-dark-yellow-text { background: #000; color: rgba(255, 204, 0, 1.0); }
.civ5-color-player-gray { background: #000; color: rgba(178, 178, 178, 1.0); }
.civ5-color-player-gray-text { background: #000; color: rgba(204, 204, 204, 1.0); }
.civ5-color-player-green { background: #000; color: rgba(124, 224, 0, 1.0); }
.civ5-color-player-green-text { background: #000; color: rgba(123, 224, 0, 1.0); }
.civ5-color-player-orange { background: #000; color: rgba(252, 89, 0, 1.0); }
.civ5-color-player-orange-text { background: #000; color: rgba(253, 117, 0, 1.0); }
.civ5-color-player-peach { background: #000; color: rgba(255, 216, 142, 1.0); }
.civ5-color-player-peach-text { background: #000; color: rgba(194, 177, 100, 1.0); }
.civ5-color-player-pink { background: #000; color: rgba(249, 170, 124, 1.0); }
.civ5-color-player-pink-text { background: #000; color: rgba(249, 183, 145, 1.0); }
.civ5-color-player-purple { background: #000; color: rgba(196, 86, 255, 1.0); }
.civ5-color-player-purple-text { background: #000; color: rgba(216, 165, 255, 1.0); }
.civ5-color-player-red { background: #000; color: rgba(219, 5, 5, 1.0); }
.civ5-color-player-red-text { background: #000; color: rgba(255, 75, 106, 1.0); }
.civ5-color-player-white { background: #000; color: rgba(229, 229, 229, 1.0); }
.civ5-color-player-white-text { background: #000; color: rgba(255, 242, 242, 1.0); }
.civ5-color-player-yellow { background: #000; color: rgba(255, 255, 43, 1.0); }
.civ5-color-player-yellow-text { background: #000; color: rgba(253, 255, 44, 1.0); }
.civ5-color-player-light-green { background: #000; color: rgba(127, 255, 127, 1.0); }
.civ5-color-player-light-green-text { background: #000; color: rgba(178, 255, 178, 1.0); }
.civ5-color-player-light-blue { background: #000; color: rgba(127, 178, 255, 1.0); }
.civ5-color-player-blue-text { background: #000; color: rgba(127, 178, 255, 1.0); }
.civ5-color-player-light-yellow { background: #000; color: rgba(255, 255, 127, 1.0); }
.civ5-color-player-light-yellow-text { background: #000; color: rgba(229, 255, 127, 1.0); }
.civ5-color-player-light-purple { background: #000; color: rgba(178, 153, 255, 1.0); }
.civ5-color-player-light-purple-text { background: #000; color: rgba(178, 153, 255, 1.0); }
.civ5-color-player-light-orange { background: #000; color: rgba(229, 165, 81, 1.0); }
.civ5-color-player-light-orange-text { background: #000; color: rgba(255, 191, 89, 1.0); }
.civ5-color-player-middle-purple { background: #000; color: rgba(172, 30, 184, 1.0); }
.civ5-color-player-middle-purple-text { background: #000; color: rgba(206, 100, 160, 1.0); }
.civ5-color-player-goldenrod { background: #000; color: rgba(222, 159, 0, 1.0); }
.civ5-color-player-dark-gray { background: #000; color: rgba(94, 94, 94, 1.0); }
.civ5-color-player-dark-gray-text { background: #000; color: rgba(144, 144, 144, 1.0); }
.civ5-color-player-middle-green { background: #000; color: rgba(52, 146, 0, 1.0); }
.civ5-color-player-middle-green-text { background: #000; color: rgba(61, 157, 0, 1.0); }
.civ5-color-player-dark-lemon { background: #000; color: rgba(215, 201, 9, 1.0); }
.civ5-color-player-dark-lemon-text { background: #000; color: rgba(231, 217, 24, 1.0); }
.civ5-color-player-middle-blue { background: #000; color: rgba(0, 56, 233, 1.0); }
.civ5-color-player-middle-blue-text { background: #000; color: rgba(128, 184, 181, 1.0); }
.civ5-color-player-middle-cyan { background: #000; color: rgba(0, 162, 181, 1.0); }
.civ5-color-player-middle-cyan-text { background: #000; color: rgba(40, 202, 221, 1.0); }
.civ5-color-player-maroon { background: #000; color: rgba(131, 51, 40, 1.0); }
.civ5-color-player-light-brown { background: #000; color: rgba(132, 87, 19, 1.0); }
.civ5-color-player-light-brown-text { background: #000; color: rgba(147, 109, 52, 1.0); }
.civ5-color-player-dark-orange { background: #000; color: rgba(223, 59, 0, 1.0); }
.civ5-color-player-dark-orange-text { background: #000; color: rgba(241, 78, 18, 1.0); }
.civ5-color-player-dark-dark-green-text { background: #000; color: rgba(90, 159, 90, 1.0); }
.civ5-color-player-pale-red { background: #000; color: rgba(198, 71, 60, 1.0); }
.civ5-color-player-dark-indigo { background: #000; color: rgba(78, 5, 212, 1.0); }
.civ5-color-player-dark-indigo-text { background: #000; color: rgba(135, 92, 219, 1.0); }
.civ5-color-player-pale-orange { background: #000; color: rgba(220, 120, 37, 1.0); }
.civ5-color-player-light-black { background: #FFF; color: rgba(64, 64, 64, 1.0); }
.civ5-color-player-light-black-text { background: #000; color: rgba(99, 99, 99, 1.0); }
.civ5-color-player-minor-icon { background: #FFF; color: rgba(0, 0, 0, 1.0); }
.civ5-color-player-barbarian-icon { background: #000; color: rgba(183, 0, 0, 1.0); }
.civ5-color-player-america-icon { background: #000; color: rgba(255, 255, 255, 1.0); }
.civ5-color-player-arabia-icon { background: #000; color: rgba(146, 221, 9, 1.0); }
.civ5-color-player-aztec-icon { background: #000; color: rgba(136, 238, 212, 1.0); }
.civ5-color-player-china-icon { background: #000; color: rgba(255, 255, 255, 1.0); }
.civ5-color-player-egypt-icon { background: #000; color: rgba(82, 0, 208, 1.0); }
.civ5-color-player-england-icon { background: #000; color: rgba(255, 255, 255, 1.0); }
.civ5-color-player-france-icon { background: #000; color: rgba(235, 235, 138, 1.0); }
.civ5-color-player-germany-icon { background: #FFF; color: rgba(36, 43, 32, 1.0); }
.civ5-color-player-greece-icon { background: #000; color: rgba(65, 141, 253, 1.0); }
.civ5-color-player-india-icon { background: #000; color: rgba(255, 153, 49, 1.0); }
.civ5-color-player-iroquois-icon { background: #000; color: rgba(251, 201, 129, 1.0); }
.civ5-color-player-japan-icon { background: #000; color: rgba(184, 0, 0, 1.0); }
.civ5-color-player-ottoman-icon { background: #FFF; color: rgba(18, 82, 30, 1.0); }
.civ5-color-player-persia-icon { background: #000; color: rgba(245, 230, 55, 1.0); }
.civ5-color-player-rome-icon { background: #000; color: rgba(239, 198, 0, 1.0); }
.civ5-color-player-russia-icon { background: #FFF; color: rgba(0, 0, 0, 1.0); }
.civ5-color-player-siam-icon { background: #000; color: rgba(176, 7, 3, 1.0); }
.civ5-color-player-songhai-icon { background: #FFF; color: rgba(90, 0, 9, 1.0); }
.civ5-color-player-barbarian-background { background: #FFF; color: rgba(0, 0, 0, 1.0); }
.civ5-color-player-america-background { background: #FFF; color: rgba(31, 51, 120, 1.0); }
.civ5-color-player-arabia-background { background: #FFF; color: rgba(43, 87, 45, 1.0); }
.civ5-color-player-aztec-background { background: #000; color: rgba(161, 57, 34, 1.0); }
.civ5-color-player-china-background { background: #000; color: rgba(0, 148, 82, 1.0); }
.civ5-color-player-egypt-background { background: #000; color: rgba(255, 251, 3, 1.0); }
.civ5-color-player-england-background { background: #FFF; color: rgba(108, 2, 0, 1.0); }
.civ5-color-player-france-background { background: #000; color: rgba(65, 141, 253, 1.0); }
.civ5-color-player-germany-background { background: #000; color: rgba(179, 177, 184, 1.0); }
.civ5-color-player-greece-background { background: #000; color: rgba(255, 255, 255, 1.0); }
.civ5-color-player-india-background { background: #000; color: rgba(18, 135, 6, 1.0); }
.civ5-color-player-iroquois-background { background: #000; color: rgba(65, 86, 86, 1.0); }
.civ5-color-player-japan-background { background: #000; color: rgba(255, 255, 255, 1.0); }
.civ5-color-player-ottoman-background { background: #000; color: rgba(247, 248, 199, 1.0); }
.civ5-color-player-persia-background { background: #000; color: rgba(176, 7, 3, 1.0); }
.civ5-color-player-rome-background { background: #FFF; color: rgba(70, 0, 118, 1.0); }
.civ5-color-player-russia-background { background: #000; color: rgba(238, 180, 0, 1.0); }
.civ5-color-player-siam-background { background: #000; color: rgba(245, 230, 55, 1.0); }
.civ5-color-player-songhai-background { background: #000; color: rgba(213, 145, 19, 1.0); }
